 body { background-image: url("imagenes/OIP (1).webp");   

   h1{color:green;}
   h2 {color: rgb(55, 199, 120);}
   pre {color: rgb(232, 235, 235);}
     p {color: azure;}
    background-size: cover; /

}
    